.more-info {
    margin-top: 30px;
}

.more-info .left-image img {
    width: 100%;
    overflow: hidden;
}

.about-info .right-content {
    padding: 0 !important;
    margin-right: 30px;
}

.more-info .right-content {
    padding: 45px 45px 45px 30px;
}

.more-info .right-content span, .team .section-heading span {
    text-transform: uppercase;
    font-size: 15px;
    color: #666666;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.more-info .right-content h2 {
    font-size: 36px;
    margin-bottom: 35px;
}

.more-info .right-content em {
    font-style: normal;
    color: #01bf71;
}

.more-info .right-content p {
    margin-bottom: 30px;
    font-size: 14px;
}

.team {
    margin-top: 10px;
}

.team-item img {
    width: 100%;
    overflow: hidden;
}

.team-item .down-content {
    background-color: #fff;
    padding: 30px 0 30px 0;
}

.team-item .down-content h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
}

.team-item .down-content span {
    color: #01bf71;
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

.team-item .down-content p {
    margin-bottom: 20px;
    font-size: 14px;
}

#testimonials .carousel-root {
    width: 50% !important;
    margin: auto !important;
    margin-bottom: 3% !important;
}

#testimonials .carousel .slide {
    background: #fff !important;
    color: black;
    height: 100%;
}

#testimonials .myCarousel {
    background: #fafafa;
    margin-top: -6%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 6% 5% 8%;
    border: 1px solid #ddd;
    height: 286px;
}

#testimonials .carousel .control-dots {
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
}

#testimonials .myCarousel h3 {
    color: #222;
    letter-spacing: 0.2px;
    margin-top: 30px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}

#testimonials .myCarousel h4 {
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    color: #787878;
    font-size: 14px;
}

#testimonials .myCarousel p {
    font-weight: 100 !important;
    line-height: 29px !important;
    color: #222;
    font-size: 15px;
    font-family: sans-serif;
    max-height: 67px;
}

#testimonials .myCarousel p:before {
    content: "“";
    color: #aaa;
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
}

#testimonials .myCarousel p:after {
    content: "”";
    color: #aaa;
    font-size: 26px;
    font-family: monospace;
    font-weight: 100;
    line-height: 0;
}

#testimonials .carousel .control-dots .dot {
    box-shadow: none !important;
    background: #454545 !important;
    outline: 0;
}

#testimonials .carousel.carousel-slider .control-arrow {
    background: #000 !important;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
}

@media only screen and (max-width: 934px) {
    #testimonials .carousel-root {
        outline: 0;
        width: 93% !important;
        margin: auto !important;
    }

    #testimonials .carousel.carousel-slider .control-arrow {
        display: none !important;
    }

    #testimonials .myCarousel {
        background: #fafafa;
        margin-top: -9%;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
        padding: 8% 5% 12.5%;
        border: 1px solid #ddd;
        height: 269px;
    }

    #testimonials .carousel .slide img {
        width: 24% !important;
        border-radius: 50%;
    }
}
