@import "~react-image-gallery/styles/css/image-gallery.css";

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: 7rem auto;
}

.image-gallery {
    max-width: 60rem;
    margin-bottom: 1rem;
}

.form-contact {
    height: 31.9rem;
    width: 10rem;
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 7rem;
}

.form-contact h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    text-align: center;
}

.form-contact h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #01bf71;
}

.form-contact .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.form-contact .field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-contact textarea {
    min-height: 175px;
    resize: none;
}

.form-contact .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #01bf71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.form-contact .btn:hover {
    background-color: #01bf71;
}

.form-contact .field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}